<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przepisy Kulinarne</title>
    <link rel="stylesheet" type="text/css" href="sniadania.css">
</head>
<body>
<header>
    <h1>Wybierz swoje nowe ulubione śniadanie!</h1>
</header>
<nav>

    <h2><a href="obiad">Obiady</a></h2>
    <a href="sniadania">Śniadania</a>
    <a href="kolacja">Kolacje</a>
    <a href="https://www.example.com" target="_blank">Inna Strona</a>
    <!-- Dodatkowy link prowadzący do innej strony -->
    <a href="#dessert">Desery</a>
</nav>
<section id="breakfast">


</section>
</body>
</html>
