<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przepisy Kulinarne</title>
    <link rel="stylesheet" type="text/css" href="sniadania.css">
</head>
<body>
<header>
    <h1>Wybierz swoje nowe ulubione śniadanie!</h1>
</header>
<nav>
    <h2><a href="sniadania">Śniadania</a></h2>
    <a href="obiad">Obiady</a>
    <a href="kolacja">Kolacje</a>
    <a href="https://www.example.com" target="_blank">Inna Strona</a>
    <!-- Dodatkowy link prowadzący do innej strony -->
    <a href="#dessert">Desery</a>
    <details>
        <summary>Hola Hola</summary>
        <ol>
            <li>Haver la campra</li>
            <li>awdaw</li>
            <li>awdaw</li>
        </ol>
    </details>
</nav>
<section id="breakfast">
    <div>
    <h2>Przepisy</h2>
    <h3>Jajecznica z warzywami</h3>
    <p>
        <a href="sPrzepis1" class="link">
    <img src="/images/jajecznica.jpg" width="500" height="300">
        </a>
    </p>

        <p>
            <h2>Owsianka</h2>
            <img src="/images/owsianka.jfif" width="500" height="300">
        </p>
    </div>

</section>
</body>
</html>
