<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj na stronie kulinarnych przepisów!</title>
    <link rel="stylesheet" type="text/css" href="start.css">
</head>
<body>
<div class="container">
    <h1>Witaj na stronie kulinarnych przepisów!</h1>
    <p>Znajdziesz tutaj wiele smakowitych przepisów na pyszne dania, które możesz łatwo przygotować w swojej kuchni.</p>
    <a href="strona" id="startButton">Zaczynamy</a>

</div>
</body>
</html>

