<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przepisy Kulinarne</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<header>
    <h1>Witaj w Świecie Przepisów Kulinarncyh</h1>
</header>
<nav>
    <a href="sniadania">Śniadania</a>
    <a href="obiad">Obiady</a>
    <a href="kolacja">Kolacje</a>
    <a href="home">Wybierz artykuły</a>
    <a href="">Twój koszyk</a>
</nav>
<section id="breakfast">
    <h2>Śniadania</h2>
    <p>Tutaj znajdziesz przepisy na pyszne śniadania, które dodadzą Ci energii na cały dzień!</p>
    <p>Jajecznica z warzywami:

        - Smaż jajka na patelni, mieszając je z posiekanymi warzywami (np. papryką, cebulą, pomidorami).
        - Podawaj z kromką chleba pełnoziarnistego lub tostami.
        - Możesz dodać odrobinę sera na wierzch dla dodatkowego smaku.
        - Owsianka z owocami i orzechami:

        - Gotuj płatki owsiane na mleku lub wodzie, dodając plasterki bananów i jagody.
        - Posyp owsiankę orzechami włoskimi lub migdałami dla chrupkości.
        - Skrop całość miodem lub posyp odrobiną cynamonu.
        - Kanapka z awokado i jajkiem:

        Zgnieć awokado i rozsmaruj je na kromce chleba pełnoziarnistego.
        Dodaj ugotowane jajko na twardo pokrojone w plastry.
        Posyp całość pieprzem i solą morską.
        Smoothie z zielonymi warzywami:

        W blenderze zmiksuj szklankę szpinaku lub jarmużu z bananem, kiwi i jogurtem naturalnym.
        Jeśli potrzebujesz słodkości, dodaj odrobinę miodu lub syropu klonowego.
        Możesz również dodać łyżkę nasion chia dla dodatkowej wartości odżywczej.
        Chia pudding z owocami:

        W misce wymieszaj mleko roślinne z nasionami chia i odrobiną ekstraktu waniliowego.
        Pozostaw mieszaninę w lodówce na co najmniej 4 godziny lub przez całą noc, aby zgęstniała.
        Podawaj z pokrojonymi owocami (np. truskawkami, borówkami) i posyp odrobiną orzechów.</p><!-- Dodaj przepisy na śniadania -->
</section>
<section id="lunch">
    <h2>Obiady</h2>
    <p>Wybierz się w kulinarne podróże z naszymi przepisami na obiady z całego świata!</p>
    <!-- Dodaj przepisy na obiady -->
</section>
<section id="dinner">
    <h2>Kolacje</h2>
    <p>Przygotuj się na relaksujący wieczór z naszymi pomysłami na kolacje!</p>
    <!-- Dodaj przepisy na kolacje -->
</section>
<section id="dessert">
    <h2>Desery</h2>
    <p>Udziel się na słodko z naszymi przepisami na niebiańskie desery!</p>
    <!-- Dodaj przepisy na desery -->
</section>
<footer>
    &copy; 2024 Przepisy Kulinarne
</footer>
</body>
</html>
