<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/zamow.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>

<div class="main-content">

    <table cellspacing="0" style="border: 0">

        <tr th:each="cartItem : ${@cart.cartItems}">

            <td>1</td>
            <td>
                <img th:src="@{${cartItem.item.img}}">
            </td>
            <td th:text="${cartItem.item.name}"></td>
            <td style="display: flex; padding-top: 10px">
                <p th:text="${cartItem.counter}"></p>
            </td>
            <td th:text="${cartItem.price}"></td>


        </tr>

    </table>



        <div class="summary">
            <p><span>Do zapłaty </span><span th:text="${@cart.sum}"></span> zł</p>
        </div>

        <div class="summary">
            <form th:action="@{/order/saveorder}" method="post">
                <label>Imię</label>
                <input type="text" name="firstName" required>
                <label>Nazwisko</label>
                <input type="text" name="lastName" required>
                <label>Adres</label>
                <input type="text" name="address" required>
                <label>kod pocztowy</label>
                <input type="text" name="postCode" required>
                <label>Miasto</label>
                <input type="text" name="city" required>
                <button type="submit" class="add-btn">Zamów</button>
            </form>

        </div>

    </div>
</div>
</body>
</html>
