<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przepisy Kulinarne</title>
    <link rel="stylesheet" type="text/css" href="/sPrzepisy/sPrzepis1.css">
</head>
<body>
<header>
    <h1>Jajecznica z warzywami</h1>
</header>
<nav>
    <h2><a href="sniadania">Śniadania</a></h2>
    <a href="obiad">Obiady</a>
    <a href="kolacja">Kolacje</a>
    <a href="https://www.example.com" target="_blank">Inna Strona</a>
    <a href="#dessert">Desery</a>
</nav>
<section id="breakfast">
    <div>
        <h2>Przepisy</h2>
        <h3>Jajecznica z warzywami</h3>
        <p>
            <img src="/images/jajecznica.jpg" width="500" height="300">
        </p>
    </div>
    <div>
        <h1>Przepis na jajecznice z warzywami</h1>



        <h2>Składniki:</h2>
        <table>
            <th>
                <li>4 jajka</li>
                <li>1 średnia cebula, posiekana</li>
                <li>1 papryka, pokrojona w kostkę</li>
                <li>1 pomidor, pokrojony w kostkę</li>
                <li>1 garść szpinaku (opcjonalnie)</li>
                <li>2 łyżki masła lub oleju</li>
                <li>Sól i pieprz do smaku</li>
                <li>Świeże zioła (np. natka pietruszki) do posypania (opcjonalnie)</li>
            </th>
        </table>

        <a href="home" id="add-btn">Zamów potrzebne artykuły</a>

        <h2>Instrukcje:</h2>

        <ol>
            <li><strong>Przygotowanie warzyw:</strong> Na patelni rozgrzej łyżkę masła lub oleju na średnim ogniu. Dodaj posiekaną cebulę i smaż, aż będzie miękka i lekko złocista (ok. 3-4 minuty).</li>

            <li><strong>Dodanie papryki i pomidora:</strong> Dodaj pokrojoną paprykę i pomidora do cebuli na patelnię. Możesz także dodać szpinak, jeśli chcesz. Smaż mieszając, aż warzywa zmiękną (ok. 5-7 minut). Dopraw solą i pieprzem do smaku.</li>

            <li><strong>Ubijanie jajek:</strong> W misce ubij jajka widelcem lub trzepaczką. Możesz dodać odrobinę soli i pieprzu do jajek, jeśli chcesz.</li>

            <li><strong>Dodanie jajek do warzyw:</strong> Kiedy warzywa na patelni są gotowe, zmniejsz ogień na średnio-niski. Dodaj drugą łyżkę masła lub oleju do warzyw, a następnie wlej ubite jajka. Pozwól jajecznej masie zastygnąć na brzegach, a następnie delikatnie mieszaj widelcem, aby jajka ścięły się równomiernie ze wszystkimi warzywami. Kontynuuj mieszanie, aż jajeczna masa będzie odpowiednio ścięta i gotowa.</li>

            <li><strong>Podawanie:</strong> Przełóż jajecznice z warzywami na talerz i posyp świeżymi ziołami, jeśli używasz. Możesz podać ją jako samodzielne danie lub jako dodatek do pieczywa.</li>

            <strong>Smacznego!</strong>
        </ol>
    </div>

</section>
</body>
</html>
